.navbar-nav>li>a {

font-family: 'Damion', cursive;
color: #fff !important;
font-size: 24px;
margin-top: 30px;
margin-right: 40px;

}

.navbar {
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-color: #fff;
	border: none;
	padding: 0 !important;
}

a.navbar-brand {
	padding: 0 !important;
}

#myNavbar {
	margin-bottom: 150px;
}
