@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
@font-face {
 font-family: dam; src: url('damion.ttf');
}
.navbar-nav>li>a {

font-family: 'Damion', cursive;
color: #fff !important;
font-size: 24px;
margin-top: 30px;
margin-right: 40px;
margin-bottom: 70px;
}

.navbar {
    background-image: url('../../images/header.png');
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    padding-bottom: 0 !important;
}

a.navbar-brand {
    padding: 0 !important;
}
.container{
    margin-top: 200px;
}
    #separate {
        width: 100%;
        margin-top: 40px;
    }
    h1{
        color: #00A99D;
        font-family: dam;
        font-size: 60px;
    }
    #about{

        text-align: center;
    }
    #menu{
        text-align: center;
    }
    #aboutus{
        width: 50%;
        margin-top: 40px;

    }
    #takeout{
        text-align: center;
    }

    #instagram{
        text-align: center;
    }

    #shopinfo{
        text-align: center;
    }

    #logo{
      position: absolute;
      text-align: center;
      margin-left: 40%;
      margin-top: 20%;
    }

   /*meneの１段目を消したので、今.tetreは機能していません（ここから）
     削除理由：写真を差し込んだから。このコードは写真を差し込み前提ではなかった*/
    .tarte {
      background-image: url("images/logo-sd.png");
    position: relative;
    background-color: #CCCCCC;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    height: 120px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.tarte:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.tarte:hover{
    background-color: #90EE90;
    color: #FFFFFF;
}

.tarte:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
  /*meneの１段目を消したので、今.tetreは機能していません（ここまで）*/

    .break {
    position: relative;
    background-color: #CCCCCC;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.break:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.break:hover{
    background-color: #90EE90;
    color: #FFFFFF;
}

.break:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

    .third {
    position: relative;
    background-color: #CCCCCC;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px;
    width: 170px;
    height: 90px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
}

.third:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.third:hover{
    background-color: #90EE90;
    color: #FFFFFF;
}

.third:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* Navigation */
#tf-menu {
    padding: 0px;
    transition: all 0.8s;
}
#tf-menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
color: #fff;
font-weight: 900;
}

#tf-menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;
    letter-spacing: 1px;
}


@media screen and (min-width: 320px) and (max-width: 720px) {
    .navbar-brand>img {
        width: 50% !important;
    }

    #logo {
        width: 20%;
    }
    
}